<h1>
    {{title}}
</h1>

<div>
    <a href="#" *ngIf="!isSignedIn" (click)="signIn()"> Login </a>
    <a href="#" *ngIf="isSignedIn" (click)="grant(SCOPES.join(' '))"> Authorize </a>
    <a href="#" *ngIf="isSignedIn" (click)="grant(SCOPES.join(' '), true)"> Authorize offline </a>
    <a href="#" *ngIf="isSignedIn" (click)="revoke()"> Revoke </a>
    <a href="#" *ngIf="isSignedIn" (click)="logout()"> Logout </a>
</div>

<div class="box" *ngIf="isSignedIn">

    <div>{{currentProfile.getName()}}</div>
    <div>{{currentProfile.getGivenName()}}</div>
    <div>{{currentProfile.getFamilyName()}}</div>
    <div>{{currentProfile.getEmail()}}</div>

    <img src="{{currentProfile.getImageUrl()}}"
         alt="avatar">

    <ul>
        <li *ngFor="let scope of grantedScopes">{{scope}}</li>
    </ul>
</div>
